$primary: #ffe600;
$darkText: #333333;
$title: #666666;
$grey: #999999;
$lightGrey: #eeeeee;
$lightShaddow: rgba(0, 0, 0, 0.1);

$buttonBg: #3483fa;

$separationMargin: 16px;
$x2SeparationMargin: 32px;

// Media Queries
$minimalMQ: 1200px;