@import "../../styles/variables.scss";

.NavBar {
  background: $primary;
  height: 50px;
  padding: 0 10vw;
  display: flex;
  align-items: center;
}

.logo {
  width: 44px;
  height: 32px;
}

.searchForm {
  margin-left: 15px;
  width: 100%;

  .searchInput {
    width: 100%;
    padding: 7px 7px 7px 12px;
    box-shadow: 0 1px 2px 0 $lightShaddow;
    background-color: white;
    border: none;
    box-sizing: border-box;
    border-radius: 2px;
    font-size: 18px;
    &:focus {
      outline: none;
    }
  }

  .searchButton {
    position: absolute;
    top: 8px;
    height: 34.5px;
    padding: 0;
    width: 36px;
    background: $lightGrey;
    border: none;
    right: 10.012vw;
    cursor: pointer;
    padding: 8px;
    &:focus {
      outline: none;
    }
  }

  .errorSearch {
    border: 1px solid red;
  }
}
